/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Fim Reset */

/* seletores principais */

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}

section {
    padding: 100px 10%;
}

/* FIM seletores principais */

/* Section Início */
#inicio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(10,102,194,1) 0%, rgba(2,0,36,1) 100%);
    background-color: #0A66C2;
}

.inicio-centro {
    color: #b7c6f7;
}

.inicio-centro h1 {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-size: 3vw;
    margin-left: 1vw;
}

.inicio-centro h2 {
    font-size: 10vw;
    color: rgb(229, 228, 248);
    position: relative;
}

.inicio-centro p {
    font-family: "Cabin", sans-serif;
    font-size: 2vw;
    text-align: right;
}

.inicio-centro ul {
    bottom: 0;
    right: 0;
    list-style-type: none;
    position: absolute;
}

.inicio-centro ul li {
    display: inline-block;
}

.inicio-centro ul li a img {
    width: 64px;
    height: 64px;
}

.center-scroll {
    position: absolute;
    bottom: 5%;
}

.scroll-icon {
    position: relative;
    margin: 2em;
    width: 1em;
    height: 2em;
    border: .2em solid #fff;
    border-radius: 2em;
}

.scroll-icon .scroll-wheel {
    position: absolute;
    left: 50%;
    top: 15%;
    width: .6em;
    height: .6em;
    background-color: #fff;
    transform: translate(-50%, 0);
    border-radius: .6em;
    animation: mouse 1s ease-in-out infinite;
}

@keyframes mouse {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }
        20%, 70% {
        opacity: 1;
    }
    90%, 100% {
        transform: translate(-50%, 150%);
        opacity:0;
    }
}

#portfolio {
    
}

#portfolio h2, #contrateme h2 {
    display: block;
    font-size: 2em;
}

#portfolio h2 {
    color: #333;
}

#contrateme h2 {
    color: #fff;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 0 4px;
}

.gallery figure {
    width: 30%;
    margin: 0 15px;
}

.gallery figcaption {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    color: #333;
    text-align: center;
    margin: 10px 0;
}
    
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 15px;
    padding: 0;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) -1px 6px 12px -2px, rgba(0, 0, 0, 0.3) -1px 3px 7px -3px;
    transition: 500ms linear;
}

.gallery figure a:hover img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 11px 17px 3px, rgba(0, 0, 0, 0.3) 0px 8px 12px 2px;
}
    
@media screen and (max-width: 960px) {
    .inicio-centro h1 {
        font-size: 7vw;
    }
    
    .inicio-centro p {
        font-size: 2.3vw;
    }

    .inicio-centro ul li a img {
        width: 32px;
        height: 32px;
    }

    .gallery {
        flex-direction: columns;
    }

    .gallery figure {
        width: 100%;
    }

    .gallery figure {
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px) {     
}

@media screen and (max-width: 480px) {
    .inicio-centro ul li a img {
        width: 24px;
        height: 24px;
    }
    .inicio-centro ul li {
        margin: -2px;
    }
    
}

#contrateme {
    background: rgb(0,212,255);
    background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(10,102,194,1) 0%, rgba(2,0,36,1) 100%);
}
form,
form input,
form textarea,
form button {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    font-weight: 100;
    background: #182c61;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #314e9e;
}

input:focus,
textarea:focus {
    outline-color: #182c61;
}
